<div class="container">
  <div class="row">
    <div class="col-md-2">

	<h1> Login </h1>

		<% flash.each do |k,v| %>
			<p class "text-danger" id ="<%= k %>"><%= v %></p>
		<% end %>

		<%= form_for :user do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email, placeholder: "Enter your email" %> <br/>

			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "password" %><br/><br/>
			
			<%= f.submit "Login", class: "btn btn-large btn-primary" %><br/>
		<% end %>
		
	<h3> <%= link_to "Forget Password?", new_password_path %> </h3>

    </div>
  </div>
</div>
