<!-- Login Modal -->

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
  	<div class="modal-content" id="login-form">
      <div class="modal-header">
      	<div class="text-center">
          <%= image_tag "login_logo_SML.png" %>
        </div>
      </div>
      		<div class="signupmodal-body">
            <div class="form-group">
          		
          		<br>

          			<div class="row">
          				
		          		<h2 class="form-group text-center">  </h2>

									<% flash.each do |k,v| %>
										<p class "text-danger" id ="<%= k %>"><%= v %></p>
									<% end %>

									<%= form_for :user do |f| %>
										<div class="form-group text-center col-md-offset-2 col-md-8">
											<%= f.text_field :email, placeholder: "Enter your email", class: "form-control input-sm", autofocus: true  %>
										</div>
										 
										<div class="form-group text-center col-md-offset-2 col-md-8">
											<%= f.password_field :password, placeholder: "Password", class: "form-control input-sm" %>
										</div>
											
										<div class="">
										<%= f.submit "Login", class: "btn btn-md btn-primary form-group col-md-offset-4 col-md-4" %><br/>
										</div>
			          	<% end %>

						<h5 class="col-md-5"> <%= link_to "Forget Password?", new_password_path, class:"text-center" %> </h5>
						<h5 class="col-md-offset-5 	col-md-2"><%= link_to "Go Home", root_url, class:"text-center" %></h5>
          			</div>
          	</div>

				</div>
  	</div>
  </div>
</div>
