<<<<<<< HEAD
=======
<!-- users - new.html.erb -->

>>>>>>> 6b37337a41c0f2eea82ad67649361113b98df33d
<div class="container">
  <div class="row">
    <div class="col-md-2">
      
      <h1>Sign up</h1>
      
        <% flash.each do |k,v| %>
        <p class "text-danger" id ="<%= k %>"><%= v %></p>
      <% end %>
      
      <%= form_for(@user) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone_num %>
      <%= f.text_field :phone_num %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
    </div>
  </div>
</div>