<!-- users - new.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-md-2">
      
      <h1>Sign up</h1>
      
        <% flash.each do |k,v| %>
        <p class "text-danger" id ="<%= k %>"><%= v %></p>
      <% end %>
      
      <%= form_for(@user) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %><br/>

      <%= f.label :phone_num %>
      <%= f.text_field :phone_num %><br/>

      <%= f.label :password %>
      <%= f.password_field :password %><br/>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br/><br/>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
    </div>
  </div>
</div>