<!-- Sign Up Modal -->

<div id="signupModal" class="modal show" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content" id="signup-form">
      <div class="modal-header">

<!--           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 -->      <div class="text-center">
          <%= image_tag "login_logo_SML.png" %>
          </div>
<!--           <h2 class="text-center">SIGN UP</h2>
 -->      </div>
      <div class="signupmodal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
          
            <% flash.each do |k,v| %>
             <p class "text-danger" id ="<%= k %>"><%= v %></p>
            <% end %>
          </div>

            <%= form_for(@user) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, placeholder: "Enter Your Email", class: "form-control input-lg", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :first_name, placeholder: "First Name", class: "form-control input-lg", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Enter Your Password", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirm, placeholder: "Confirm Your Password", class: "form-control input-lg" %>
            </div>
        
          <div class="modal-footer">
            <%= f.submit "Sign Up", class: "btn btn-primary form-control"%>
          </div>
            <% end %>
              <span class="pull-right"><a href="/">Go home</a></span>
              <span><a href="/login">Login</a></span>
          </div>

        </div>
<!--         <script type="text/javascript">
        $(".modal-header, .modal-content").on("click", function(){
        $(".modal-content").fadeOut();
        });
        
        </script>
 -->      </div>
    </div>
  </div>
