<div class="container">
	<h1>Text Later App Front Page</h1>


	<p>Give the option to see all messages</p>
	<p>Give the option to create</p>
	<p>Give the option to edit</p>
	<hr class="featurette-divider">

	<!-- This button only shows when user is not logged in.
	 -->
	<h3>Ready to Create a message?</h3>


	<div class="loading">
		<%= image_tag "loader.GIF", style: "margin-top:20px; width:100px;"%>
	</div>

	<!-- Button trigger modal -->
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Try It Out
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title text-center" id="myModalLabel">Text It Later</h4>
	      </div>
	      <div class="modal-body">
	        <%= form_for @unsaved_msg, class: "texttit" do |f| %>
						<%= f.telephone_field :send_num, placeholder: "Number to send to", class: "form-control" %>
						<%= f.text_field :content, placeholder: "Message to send", class: "form-control" %>
						<%= f.datetime_select :time, default: Time.now, ampm: true %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <%= f.submit "Text It", class: "btn btn-primary"%>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>


	<hr class="featurette-divider">

	<!-- Need to hide this later -->
	<p><%= link_to 'Monitoring Workers', sidekiq_web_path %></p>


</div>  <!-- Container Close -->



