<div class="jumbotron" id="topbackground">

<div class="container">
<div class="row">

<div class="col-xs-4 text-center">
<%= image_tag "logo_TextMeMaybe.png", id: "jumboimg"%>

</div>

<div class="col-xs-8"> 

<h1 id="tag">Your texts, anytime</h1>
<p>Never forget to send a text again</p>
<% if !session[:user_id] %>
	<a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
<% end %>
</div>



</div>  <!-- row close -->


</div>  <!-- container close -->

</div>

<div class="text-center" id="learn-more">
<a href="#middle" class="scroll">Learn more  <i class="fa fa-sort-desc fa-2x"></i></a>
</div><br>



<div class="row">
		<div class="text-center" id="middle-section">
			<hr class='featurette-divider'/>
			<br><br><br><br><h1>TextMe, Maybe for work, home and play.<br> Accomplish more during your day.</h1><br><br><br><br>
			<hr class='featurette-divider'/>
		</div>
	</div>




<!-- 1/3 Home PAGE ENDs -->


<div id="middle"><br/><br/><br/>
<div class="container" id="midOneC">
    <div class="col-md-6 text-center">
			<div class="middle_text">
				<h1 id="tag">Belated, No More</h1>
				<h4>Be the person who always remembers and </h4>
				<h4>never forgets to tell mom that you love her on her birthday.</h4>
			</div>

    </div>

  <div class="col-md-6">
          <%= image_tag "mom_text_xsml.png", id: "middle-images" %>
  </div>

</div><br/><br/><br/>

<hr class="featurette-divider">


<div class="container" id="midContainer">
    <div class="col-md-6">
          <%= image_tag "ontime_onschedule_xsml.png", id: "middle-images" %>
    </div>

  	<div class="col-md-6 text-center">
  		<div class="middle_text">
				<h1 id="tag">On Time, On Schedule</h1>
				<h4>Be the one who keeps the pack on time and on schedule.</h4>
				<h4>Schedule your texts in advance to remind them later.</h4>
  		</div>
	</div>			
</div><br/><br/><br/>

<hr class="featurette-divider">


<div class="container" id="midContainer">
    <div class="col-md-6 text-center">
    	<div class="middle_text">
				<h1 id="tag">Gets there when you want it...</h1>
				<h4>Send your text now, and deliver it later.</h4>
    	</div>
    </div>

	<div class="col-md-6">
        <%= image_tag "envelope_xsml.png", id: "middle-images" %>
	</div>
</div><br/><br/><br/>

	<hr class="featurette-divider"/>
</div>
<!-- 2/3 Home PAGE ENDs -->

		</div>  <!-- row close -->
		

	</div>  <!-- container close -->

</div>

	<!-- 		<div class="text-center" id="learn-more">
				Learn more  <i class="fa fa-sort-desc fa-2x"></i>
			</div>  -->

<!-- 3/3 HOME PAGE BEGINS  -->

<div class="container">
	<div class="row">
		<div class="stepOne col-md-4 text-center">
			<%= image_tag "signupPhoto.jpg", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
			<h3 class="tut_desc">Sign Up</h3>
		</div>
		<div class="stepTwo col-md-4 text-center">
			<%= image_tag "managePhoto.png", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
			<h3 class="tut_desc">Manage It</h3>
		</div>
		<div class="stepThree col-md-4 text-center">		
			<%= image_tag "schedulePhoto.png", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
			<h3 class="tut_desc">Schedule It</h3>
		</div>
	</div> <!-- row close -->
</div> <!-- container close -->

<br><br>
	<% if session[:user_id]	== nil %>	
		<div class = "text-center important-box" id="tryItBtn col-md-offset-4 col-md-4">
		<a href="/signup" class="btn btn-lg btn-default" id="joinUs" >Join Us</a>
	<% end %>
		<%= render "shared/unsaved_form" %>
	</div>
	<br>


<!-- 3/3 HOME PAGE ENDS -->

