

<div class="container">
	
	<div class='col-md-offset-3 col-md-6'>
		<h1>Edit Scheduled Message</h1>
	</div>

	<div>
		
		<%= form_for [@user, @savedMsg] do |f| %>
			<div class='col-md-offset-3 col-md-6'>
				<%= f.text_field :send_num, placeholder: "change send to:", autofocus: true, class:"form-control" %>
			</div>
			<div class='col-md-offset-3 col-md-6'>
				<%= f.text_field :subject, placeholder: "edit subj", class:"form-control" %>
			</div><br>
			<div class='col-md-offset-3 col-md-6'>
				<%= f.text_area :content, placeholder: "edit content", class:"form-control" %>
			</div><br>
			<div class='col-md-offset-4 col-md-4'>
				<%= f.datetime_select :time, default: Time.now, ampm: true %>
			</div>
			<div class='col-md-offset-3 col-md-6'>
				<%= f.submit "Update", class: "form-control btn btn-primary" %>
			</div>
			<div class='col-md-offset-3 col-md-6'>
				<%=  button_to "Delete", user_saved_msg_path(@user.id, @savedMsg.id), method: :delete, class: "form-control btn btn-danger", :onclick => "alert('Please Confirm')" %>
			</div>
		<% end %>



	</div>
	


</div>