

<div class="container">

	<div>
		<h1>Welcome to <%= @user.email %> Saved Msgs</h1>		

		<% flash.each do |name, msg| %>
			<h2 id="<%= name %>"><%= msg %></h2>
		<% end %> 


			<% @savedMsg.each do |msg| %>
				<h3><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.subject %></a></h3><br>
				<p><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.content %></a></p><br>

			<% end %>





	</div>

	<a href="/users/<%= @user.id %>">Go back to User Page</a>

</div>