
<div class="container">

	<h1>Welcome to <%= @user.email %> Saved Msgs</h1>	

	<!-- Flash Messages -->
	<% flash.each do |name, msg| %>
		<h2 id="<%= name %>"><%= msg %></h2>
	<% end %> 


	<% @savedMsg.each do |msg| %>
		<h3><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.subject %></a></h3>
		<p><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.content %></a></p>
	<% end %>

	<p><a href="/users/<%= @user.id %>">Go back to User Page</a></p>

</div>

