
<div class="container">

	<h1>Welcome to your Scheduled Messages!</h1>	
	
	<div class="row">
		
		<div class="col-md-4">
			<h3>Hello <%= @user.first_name %>!</h3>
		</div>

			<!-- Flash Messages -->
			<% flash.each do |name, msg| %>
				<h2 id="<%= name %>" style="color:red"><%= msg %></h2>
			<% end %> 

		<div class="col-md-offset-5 col-md-2 savesend" style="padding-bottom:5px; margin-top:-10px">
			<a class="btn btn-success" href="/users/<%= @user.id %>/saved_msgs/new">Schedule New Message</a>
		</div>

	</div>


	<table class="table table-hover nav nav-tabs" role='tablist'>
		
		<!-- IN PROGRESS - TAB NAVIGAION  -->
	  <!-- <li class="active"><a href="#">Home</a></li> -->

			<th class="row info active">
				<td><strong>SUBJECT</strong></td>
				<td><strong>MESSAGE</strong></td>
				<td><strong>CREATED</strong></td>
				<td><strong>SCHEDULED TIME</strong></td>
				<td><strong>DELETE</strong></td>
			</th>

			<% @savedMsg.each do |msg| %>
				<tr class="row">
					<td><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.subject %></a></td>
					<td><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.content %></a></td>
					<td><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.created_at.strftime("%a %l:%m %P %-m/%d/%y") %></a></td>
					<td><a href="/users/<%= @user.id %>/saved_msgs/<%= msg.id %>"><%= msg.time.strftime("%a %l:%m %P %-m/%d/%y") %></a></td>
					<td><%=  button_to "Delete", user_saved_msg_path(@user.id, msg.id), method: :delete, class: "form-control btn-xs btn-danger"%></td>
				</tr>
			<% end %>

	  <!-- <li><a href="#">Messages</a></li> -->

	</table>



	<hr class="featurette-divider"/>

	<p><a href="/users/<%= @user.id %>">Go back to User Page</a></p>

			<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		  Create New Message! 
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title text-center" id="myModalLabel">Text It Later</h4>
		      </div>
		      <div class="modal-body">
		      	
						<%= render "shared/templates_savedMsg" %>

		        <%= form_for [@user, @savedMsgs] do |f| %>
		        	<div>
								<%= f.telephone_field :send_num, placeholder: "Send To", class: "form-control text-center" %>		        		
		        	</div>
		        	<div>
								<%= f.text_field :subject, placeholder: "Subject", class: "form-control text-center subject-body" %>
		        	</div>
		        	<div>
								<%= f.text_field :content, placeholder: "Message", class: "form-control text-center content-body" %>		        		
		        	</div>
						<div class="form_element col-md-offset-2">
							<%= f.datetime_select :time, default: Time.now, ampm: true, class: "form-control" %>
						</div>
			      <div class="modal-footer">
							<button type="submit" id="textButton" data-loading-text="Sending..." class="btn btn-primary form-control">Text It
							</button>
			      </div>
							<% end %>
		    </div>
		  </div>
		</div>
		<div></div>
	
</div>
