


<div class="container">
	<div>
		
		<h1>Subject: <%= @savedMsg.subject %></h1>

		<% flash.each do |name, msg| %>
			<h2 id="<%= name %>"><%= msg %></h2>
		<% end %> 

			<p> Content: 
				<%= @savedMsg.content %>
			</p>

			<p>Sent to: 
				<%= @savedMsg.send_num %>
			</p>

		<a href="/users/<%= @user.id %>/saved_msgs/<%= @savedMsg.id %>/edit">Edit or Delete</a>

	</div>
</div>