<!DOCTYPE html>
<html>
<head>
  <title>TextLater</title>
  <link rel="icon" href="/assets/images/message_sent.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow' rel='stylesheet' type='text/css'>

</head>
<body>


<div class="container">
  <nav class="navbar navbar-default" role="navigation">

    <div class="nav navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="home" href="/">
        <%= image_tag "logo_TextMeMaybe.png", id: "logoimg"%>
        Hello</a>
    </div>


    <div class="collapse navbar-collapse navbar-right pull-right" id="bs-example-navbar-collapse-1"> 
	    <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/users">Friends</a></li>
        <li class="divider"></li>
          <% if session[:user_id] != nil %>
            <li><a href="/users/<%= session[:user_id] %>/contacts">Contacts</a></li>
            <li class="divider"></li>
            <li><a href="/users/<%= session[:user_id] %>/saved_msgs">Messages</a></li>
            <li><a href="/users/<%= session[:user_id] %>/saved_msgs/new">Create New</a></li>
          <% end %>
          <% if session[:user_id] == nil %>
            <li><a href="/signup">Sign Up</a></li>
            <!-- <li><a href="/login">Log In</a></li> -->

            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle navbar-right" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <!-- Login form here -->
                  <%= form_for :user, :url => login_path do |f| %>
                  <%= f.text_field :email, placeholder: "Email", class:"form-control" %>
                  <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
                  <%= f.submit "Login", class: "btn btn-xs btn-primary form-control" %><br>
                <h6><%= link_to "Forgot Password?", new_password_path %> </h6>
                <% end %>
              </div>
            </li>

          <% elsif session[:user_id] != nil %>
            <li><a href="/users/<%= session[:user_id] %>"><%= @user_name.first_name %></a></li>
            <li><a href="/logout">Log Out</a></li>
          <% end %>
      </ul>
    </div>
	</nav>
<!-- <div class="container"> -->
<%= yield %>
  <div class="container">
<hr>
    <div class="footer">
        <p>&copy; Text Me Maybe 2014</p>
      </div>
    </div>
<!-- </div> -->
</body>
</html>
