<!DOCTYPE html>
<html>
<head>
  <title>TextLater</title>
  <link rel="icon" href="http://www.clipartbest.com/cliparts/4ib/94K/4ib94Kbig.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
	<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-comments-o fa-2x"></i></a>
    </div>
	    <ul class="nav navbar-nav">
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/users">Friends</a></li>
        <li class="divider"></li>
          <% if session[:user_id] != nil %>
            <li><a href="/users/<%= session[:user_id] %>/contacts">Contacts</a></li>
            <li class="divider"></li>
            <li><a href="/users/<%= session[:user_id] %>/saved_msgs">Messages</a></li>
            <li><a href="/users/<%= session[:user_id] %>/saved_msgs/new">Create New</a></li>
          <% end %>
          <% if session[:user_id] == nil %>
            <li><a href="/signup">Sign Up</a></li>
            <!-- <li><a href="/login">Log In</a></li> -->

            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle navbar-right" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  <!-- Login form here -->
                  <%= form_for :user, :url => login_path do |f| %>
                  <%= f.text_field :email, placeholder: "Enter your email" %> <br><br>
                  <%= f.password_field :password, placeholder: "Password" %><br><br>
                  <%= f.submit "Login", class: "btn btn-large btn-primary" %><br>
                <h4> <%= link_to "Forgot Password?", new_password_path %> </h4>
                <% end %>
              </div>
          <% elsif session[:user_id] != nil %>
            <li><a href="/users/<%= session[:user_id] %>"><%= @user_name.first_name %></a></li>
            <li class="navbar-right pull-right"><a href="/logout">Log Out</a></li>
          <% end %>
      </ul>
	</nav>
</div>


<%= yield %>

<%= params.inspect %>


</body>
</html>
